# Python
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.env
.env.*
backend/.env
.venv/
venv/
**/.venv/

# Django
*.log
backend/staticfiles/
backend/media/

# SQLite
*.sqlite3
backend/db.sqlite3

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
